.main {
    display: flex;
    flex-direction: row;
}

.box {
    display: flex;
    flex-wrap: nowrap;
    width: 960px;
    height: 960px;
    border: 32px solid grey;
}

.square {
    background-color: ivory;
    border: 0.96px solid black;
}

#log {
    margin-left: 25px;
}
